{% extends 'base.html.jinja' %}

{% block title %}
首頁
{% endblock %}

{%block head%}
{{ super( ) }}
<style type"text/css">
    body {
        background-color: green
    }
</style>
{% endblock %}
{% block main %}
<div class="container text-center">
    <div class="row">
        <div class="col-4" style="background-color:red">
            <select class="form-select" aria-label="Default select example">
                <option selected>選擇區域</option>
                {% for area in areas %}
                <option value="1">{{area}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-8" style="background-color:gray">
            她說上一頁允許付出男子聯合出生集體修改請您，業績參考選單告知和我職工所以它是有一些多多，情緒有些信譽禮物投入反映同事渠道承認比例當初不起三大現場，獲取網絡物流後面靈活我只解決畫面可能會兩次先進性，網站理解鬱悶刷新日韓檢查臺東人士點此原理，製造四周相冊註。
        </div>
    </div>
</div>
{%endblock%}
{# {%block left_content%}
{{ left | striptags | title }}
{%endblock%} #}

{# {%block right_content%}
{{['list', 'of', 'objects']|join('|')}}
{%endblock%} #}
{# {%block right_content%}
{{['list'|join('|'), 'of'|join('|'), 'objects']|join('|')}}
{%endblock%} #}

{# {% block right_content %}
<ul>
    {% for item in ['item1','item2','item3','item4','item5'] %}
    <li>item</li>
    {% endfor %}
</ul>
{% endblock %} #}
{#
{% block right_content %}
<ul class="nav flex-column">
    {% for item in ['item1','item2','item3','item4','item5'] %}
    <li class="nav-item">
        <a href="#" class="nav-link">{{item}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %} #}