{% extends 'base.html.jinja' %}

{% block title %}
首頁
{% endblock %}

{%block head%}
{{ super( ) }}
<style type"text/css">
    body {
        background-color: green
    }
</style>
{% endblock %}
{% block main %}
{% if username %}   {#則為True#}
    <h3>{{username}}歡迎光臨</h3>
{% endif %}
<h1>這是首YEAH</h1>
{%endblock%}
{# {%block left_content%}
{{ left | striptags | title }}
{%endblock%} #}

{# {%block right_content%}
{{['list', 'of', 'objects']|join('|')}}
{%endblock%} #}
{# {%block right_content%}
{{['list'|join('|'), 'of'|join('|'), 'objects']|join('|')}}
{%endblock%} #}

{# {% block right_content %}
<ul>
    {% for item in ['item1','item2','item3','item4','item5'] %}
    <li>item</li>
    {% endfor %}
</ul>
{% endblock %} #}
{#
{% block right_content %}
<ul class="nav flex-column">
    {% for item in ['item1','item2','item3','item4','item5'] %}
    <li class="nav-item">
        <a href="#" class="nav-link">{{item}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %} #}