{% extends 'base.html.jinja' %}
{% block title %}
錯誤訊息
{% endblock %}

{% block main %}
<div class="alert alert-danger" role="alert">
<h1>沒有此頁面</h1>
<h2>有此頁面</h2>
<h3>此頁面</h3>
<h4>頁面</h4>
<h5>面</h5>
</div>
{% endblock %}